h1 {
  font-size: 48px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  text-decoration: underline crimson;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
}

.unordered-bg {
  background-image: url(https://earthsky.org/upl/2018/06/ocean-apr27-2020-Cidy-Chai-North-Pacific-scaled-e1591491800783.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.links-bg {
  background-color: #f2d334;
}

.paragraphs-bg {
  background-image: url("leaves.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

pre {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}
