.content-book {
  width: 200px;
  height: 320px;
  margin: 28px 5px 30px 10px;
}

.book-cover {
  height: 270px;
  width: 200px;
  margin-bottom: 11px;
  cursor: pointer;
}

.book-title {
  font-family: proximanova-regular;
  font-size: 16px;
  color: #444c63;
}

.book-title_long {
  font-family: proximanova-regular;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 2px;
  color: #444c63;
}

.book-author {
  font-family: proximanova-regular;
  font-size: 12px;
  color: #6f7d95;
}

.fa-star {
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: orange;
  margin-top: 10px;
}
